/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package Postali Child
 * @author Postali LLC
*/

html, body {
	font-size: 18px;
	line-height: 1;
    font-family: $sans;
    margin:0;
}

header, nav, footer, article, section { 
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: bold;
}

ul {
	list-style-type: disc;
	margin-left:20px;
}

ol {
	margin-left:20px;
}

blockquote {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}
 
body {
	background:$white;
    font-family: $sans;
    a {
        color:inherit;

        &:hover {
            color:$yellow;
        }
    }
}

.body-container {
    margin-top: 144px;

    @media screen and (max-width:$screen-ipad) {
        margin-top: 134px;
    }

    ul {
        margin:0 20px 30px;
        padding:0;

        li {
            margin:0;
            line-height: 150%;
        }
    }
}

.container {
    max-width:$screen-xl;
    padding: 0 60px;
	z-index: 1;
	position: relative;
    width: 100%;
    box-sizing: border-box;

	@media screen and (max-width:$screen-xl) {
		padding:0 50px !important;
	}

    @media screen and (max-width: $screen-sm) {
        padding: 0 30px !important;
    }

	&.wide {
		max-width: 94%;
		margin:0 auto;
        padding:0 !important;

	}
}

section {
    padding: 80px 0;

    &.page-banner {
        background-size: cover !important;
        background-position: center !important;
        min-height: 250px;
        display: flex;
        align-items: center;
        box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.3);

        &.cta {
            padding:0;

            .container {
                max-width: 100%;
                padding:0 !important;
                margin:0 !important;

                .columns {
                    align-items: normal;

                    .column-50 {
                        width:50%;

                        @media screen and (max-width:$screen-sm) {
                            width:100%;
                        }
                        
                        &.banner-photo {
                            background-size: cover !important;

                            @media screen and (max-width:$screen-sm) {
                                min-height: 350px;
                            }

                            @media screen and (max-width:$screen-xs) {
                                min-height: 200px;
                            }
                        }
        
                        &.banner-text {
                            padding:5% 10% 5% 5%;
                            @include blue-gradient;

                            @media screen and (max-width:$screen-sm) {
                                padding:30px 30px 50px;
                            }
        
                            h1 {
                                text-shadow: none;
                            }
                            
                            p {
                                color:$white;

                                &:last-of-type {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        h1 {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
            font-family: $sans;
            font-size: 55px;
            line-height: 100%;
            text-transform: none;
            font-weight: 700;
            color: $white;
            margin:0 0 30px;
            text-align: left;

            @media screen and (max-width:$screen-xs) {
                font-size: 35px;
            }
        }
    }

    @media screen and (max-width: $screen-sm) {
        padding: 60px 0;
    }

    @media screen and (max-width: $screen-xs) {
        padding: 40px 0;
    }
}

// columns and spacers //

.columns {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	align-items: flex-start;
	.column-20,
    .column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
        display:flex;
		position: relative;
		box-sizing: border-box;
		justify-content: flex-start;
		align-items: normal;
		flex-wrap: wrap;

        &.block {
            display:block;
        }
	}
	.column-break {
		width:100%;
		height:1px;
	}
	.column-20 {
		width:19.5%;
    }
    .column-25 {
		width:23%;
    }
    .column-50 {
		width:45%;
    }
    .column-33 {
		width:30%;
    }
    .column-66 {
		width:63%;
    }
    .column-75 {
		width:66%;
    }
    .column-full {
		width:100%;
		justify-content: space-between;
	}
	.column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
		@media screen and (max-width:$screen-sm) {
			width:100%;
		}
        
		&.center {
			margin:0 auto;
		}

        &.centered {
            text-align: center;
            justify-content: center;
        }
	}
}

// spacing elements //

.spacer-break,
.spacer-15,
.spacer-30,
.spacer-60,
.spacer-90 {
    display:block;
	width:100%;
	@media screen and (max-width: $screen-xs) {
		&.mobile {
			display:none;
		}
	}
}
.spacer-break { height:1px; }
.spacer-15 { height:15px; }
.spacer-30 { height:30px; }
.spacer-60 { height:60px; }
.spacer-90 { height:90px; }

// accordion styles //

.accordions {
    width:100%;
    &_title  {
		display: flex;
		background-color: $blk;
		cursor: pointer;
		margin-top: 15px;
		padding: 20px 40px;
		transition: 0.3s linear;
		text-align: left;
		align-items: center;
		line-height: 100%;
		border-radius: 50px;
        h3 {
            font-size:18px;
            font-weight:400;
            color:$white;
            transition:$trans;
            margin-bottom:0;
            margin-top:0;
            font-size:18px;
            font-weight:700;
			font-family: $sans;
        }
        span {
            align-self:center;
            justify-self:end;
            display: block;
            &:after {
                content: "+";
                display: inline-block;
                transition:$trans;
                font-size:16px;
                position: relative;
                color:$white;
                margin-left:5px;
                font-size:30px;
            }
        }
        
        &.active {
            background-color:$grey;
            span {
                &:after {
                    transform: rotate(45deg);
                }
            }
        }
    }

    &_content {
        display: none;
		padding: 50px 40px 10px;
		text-align: left;
		.headline {
			color: $white;
			font-size: 32px;
			margin-bottom: 20px;
			display: block;
			font-family:$sans;
			font-weight: 700;
		}
        p {
            color:$white;
        }
        ul {
            color:$white;
        }
    }
}

// Drop Downs
#app-cover {
	@include drop-down-select;
}

// slider arrows 
.prev,
.next {
	cursor: pointer;
}
#awards {
	display: grid;
	.slick-track {
		display:flex;
	}
	.prev {
		position: absolute;
		left: 0;
		top: 50px;
		border: none;
		height: 36px;
		width: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $grey;
		&:before {
			position: absolute;
			content: "\e905";
			color: $white;
			font-family: $icomoon;
			font-size: 15px;
		}
	}
	.next {
		position: absolute;
		right: 0;
		top:50px;
		border: none;
		height: 36px;
		width: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $grey;
		&:before {
			position: absolute;
			content: "\e902";
			color: $white;
			font-family: $icomoon;
			font-size: 15px;
			margin-left: 5px;
		}
	}
}

//hide recaptcha
.grecaptcha-badge { 
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.recaptcha-policy {
    font-size: 12px;
}