/**
 * Theme footer
 *
 * @package Postali Child
 * @author Postali LLC
**/

@mixin drop-down-select {
    position: relative;
    width: 100%;
    height: 42px;
    margin: 0 auto;
    @media screen and (max-width:$screen-sm) {
        margin-bottom: 20px;
    }
    #select-box {
        #options-view-button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
            &:checked ~ #options {
                border: 1px solid #e2eded;
                border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
            }
            &:checked ~ #options a {
                display: block;
                padding: 12px 14px;    
            }
            &:checked ~ #options #option-bg { display: block; }
        }
        #select-button {
            position: relative;
            height: 16px;
            padding: 12px 14px;
            background-color: $blk;
            cursor: pointer;
            height:100%;
            &.brd { 
                border-bottom: 2px solid $grey; 
            }
            #selected-value {
                font-size: 22px;
                line-height: 100%;
                text-align: center;
                font-family: $sans;
                margin-top: -5px;
            }
            #chevrons {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 12px;
                padding: 9px 14px;
            }
        }
        #options {
            position: absolute;
            top: 42px;
            right: 0;
            left: 0;
            width: 100%;
            margin: 0 auto;
            background-color: #fff;
            z-index: 2;
            .options {
                position: absolute;
                left: 0;
                width: 100%;
                a {
                    display: none;
                    padding: 0;
                    color:$grey;
                }
            }
        }
    }

    .option, .label {
        color: $grey;
        font-size: 16px;
    }
    
    .option {
        position: relative;
        line-height: 1;
        transition: 0.3s ease all;
        z-index: 2;
        text-align: center;
        &:hover ~ #option-bg { background-color: $grey; }
        &:hover a { color: $white; }
    }

    a {
        display: none;
        padding: 0;
        color:$grey;
        font-family: $sans;

    }

    @-webkit-keyframes moveup {
        0%{ bottom: -25px; opacity: 0;}
        100%{ bottom: 0; opacity: 1;}
    }

    @keyframes moveup {
        0%{ bottom: -25px; opacity: 0;}
        100%{ bottom: 0; opacity: 1;}
    }

    @-webkit-keyframes movedown {
        0%{ top: -25px; opacity: 0;}
        100%{ top: 0; opacity: 1;}
    }

    @keyframes movedown {
        0%{ top: -25px; opacity: 0;}
        100%{ top: 0; opacity: 1;}
    }

    #option-bg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 40px;
        transition: 0.3s ease all;
        z-index: 1;
        display: none;
    }

    .option:nth-child(2):hover ~ #option-bg { top: 40px; }
    .option:nth-child(3):hover ~ #option-bg { top: 80px; }
    .option:nth-child(4):hover ~ #option-bg { top: 120px; }
    .option:nth-child(5):hover ~ #option-bg { top: 160px; }
    .option:nth-child(6):hover ~ #option-bg { top: 200px; }
    .option:nth-child(7):hover ~ #option-bg { top: 240px; }
    .option:nth-child(8):hover ~ #option-bg { top: 280px; }
    .option:nth-child(9):hover ~ #option-bg { top: 320px; }
    .option:nth-child(10):hover ~ #option-bg { top: 360px; }
    .option:nth-child(11):hover ~ #option-bg { top: 400px; }
    .option:nth-child(12):hover ~ #option-bg { top: 440px; }
    .option:nth-child(13):hover ~ #option-bg { top: 480px; }
    .option:nth-child(14):hover ~ #option-bg { top: 520px; }
    .option:nth-child(15):hover ~ #option-bg { top: 560px; }
    .option:nth-child(16):hover ~ #option-bg { top: 600px; }
    .option:nth-child(17):hover ~ #option-bg { top: 640px; }
    .option:nth-child(18):hover ~ #option-bg { top: 680px; }
    .option:nth-child(19):hover ~ #option-bg { top: 720px; }
}

@mixin related-posts() {
    margin: 0 auto;
    h2 {
        margin: 0 0 25px 0;
    }
    .card-holder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 50px;
    }
}

@mixin blue-gradient {
    background: rgb(62,125,176);
    background: linear-gradient(180deg, rgba(62,125,176,1) 0%, rgba(45,90,124,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e7db0",endColorstr="#2d5a7c",GradientType=1); 
}

@mixin slider-styles {
    .slide {
        display: grid;
        padding-top: 50px;
        margin-top: 0;

        .slick-list {

            .slick-track {
                
                .slider-container {
                    display: flex !important;
                    flex-wrap: wrap;

                    .slider-nav {
                        width:85px;

                        .slide-pagination {
                            height: 100%;

                            .slider-prev-button-slick {
                                height: calc(50% - 2px);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 36px;
                                border-bottom: 2px solid $blue;
                                background: $blue;
                                transition: $trans;

                                &:hover {
                                    background:lighten($blue, 3%);
                                }
                            }

                            .slider-next-button-slick {
                                height: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 36px;
                                background: $blue;
                                transition: $trans;

                                &:hover {
                                    background:lighten($blue, 3%);
                                }
                            }
                        }
                    }
                }
            }
        }

        .slick-dots {
            position: absolute;
            bottom: 65px;
            list-style: none;
            text-align: left;
            padding: 0;
            margin: 0 !important;
            width: 120px;
            left: 170px;

            li {
                margin: 0 2px;

                button {
                    &::before {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}